layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="COMMERCIAL_ROOM" {
        pane split_direction="Horizontal" {
            pane size="42%" command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_room_overview.sh"
            pane split_direction="Vertical" {
                pane size="55%" command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_runtime_status.sh"
                pane command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_operator_actions.sh"
            }
        }
    }

    tab name="COMMERCIAL_LIVE_CONTROL" {
        pane split_direction="Horizontal" {
            pane command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_live_control_surface.sh"
            pane command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_evidence_state.sh"
        }
    }

    tab name="COMMERCIAL_MONITOR" {
        pane split_direction="Vertical" {
            pane size="52%" command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_execution_monitoring.sh"
            pane command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_runtime_status.sh"
        }
    }

    tab name="COMMERCIAL_EVIDENCE" {
        pane split_direction="Vertical" {
            pane size="62%" command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_evidence_state.sh"
            pane command="/home/t79/KITTY/shell/layouts/zellij/launchers/launch_commercial_operator_actions.sh"
        }
    }
}
